[Unit]
Description=FiDB http reverse-proxy server
After=network.target

[Service]
ExecStart=/usr/local/bin/fidb reverse-proxy:serve --port 443 --port 5108 \
  --database /databases/reverse-proxy \
  --domain fidb.app \
  --tls-cert /etc/letsencrypt/live/fidb.app/fullchain.pem \
  --tls-key /etc/letsencrypt/live/fidb.app/privkey.pem
Restart=on-failure

[Install]
WantedBy=multi-user.target
