[Unit]
Description=Pomodoro database by FiDB
After=network.target

[Service]
ExecStart=/usr/local/bin/fidb database:serve /databases/pomodoro \
  --public-url https://pomodoro.fidb.app:5108
Restart=on-failure

[Install]
WantedBy=multi-user.target
