[Unit]
Description=Pomodoro website by FiDB
After=network.target

[Service]
ExecStart=/usr/local/bin/x-server serve /websites/pomodoro \
  --cors \
  --redirect-not-found-to index.html \
  --cache-control-pattern 'assets/**: max-age=31536000'
Restart=on-failure

[Install]
WantedBy=multi-user.target
